Django==5.2.4
djangorestframework==3.14.1
python-dotenv==1.1.1
mysqlclient==2.2.7
Pillow==10.4.0
openpyxl==3.1.5
django-crispy-forms==2.3
crispy-bootstrap5==2024.2
gunicorn==21.2.0
whitenoise==6.6.0
zappa==0.58.0
django-cors-headers==4.3.1
